.footer {
    background-color: #e7e5e5;
    height: auto;
    width: 100%;
    border-radius: 0px;
    
  }
  .footer-container {
    display: flex;
    justify-content: center;
    gap:300px;
    padding: 42px 0px 0px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.19);
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer-links1 .nav-link,
  .footer-link2 .nav-link{
    display: block;  
    color: black;
    padding-top: 10px;
  }
  .find-us-on h4{
    color: black;
    margin-left:25zpx;
  }
  .find-us-on .iconsSocailMedia img {
    padding: 15px 15px;
  }
  .find-us-on {
    height: 182px;
    
  }
  