@media (max-width: 996px) {
	
	.navbar {
		.navbar {
		}
		padding-top: 0%;

		.navbar-brand {
			.logo {
				img {
					width: 100px;
					height: 50px;
				}
			}
		}
		.show {
			.navbar-element {
				align-items: flex-start;
				width: 100vw;
                justify-content: flex-start !important;
				a {
					.Ads {
						margin: auto;
					}
				}
			}
		}
		.navbar-toggler {
			padding: 0%;
			background-color: red;
			margin-top: 0px;
		}
	}
	.Search-container {
		margin-top: 50px;
		flex-direction: column;
		height: auto;
		position: relative;
		background-color: transparent;
		.searchbars {
			display: flex;
			flex-direction: column;
			input {
				width: 90vw;
				padding: 0px 8px;
			}
		}
		.search-button {
			text-align: center;
			display: flex;
			justify-content: center;
			button {
				width: 90vw !important;
				margin-right: 0%;
			}
		}
	}
	.card-container {
		width: 100%;
		margin: auto;
		height: auto;
		float: none;
		padding: 10px;
		.card-hold {
			justify-content: center;
			margin-left: auto;
			margin-right: auto;
			width: auto;
			a {
				width: 19vh;
				max-width: 300px;

				.card {
					width: 19vh;

					max-width: 300px;
					.img-holder {
						img {
							width: 100%;
							max-width: 300px;
							height: 150px;
						}
					}
					.card-details {
						flex-direction: column;
						height: auto;
						h5 {
							font-size: 16px;
							width: auto;
						}
						p {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	.Category-container {
		margin: auto;
		display: none;
	}
	.des-product-section {
		flex-direction: column;
		.details-comments {
			.details-product {
				width: auto !important;
				.m-4 {
					.addedon-time-share-btn {
						height: 80px;
					}
				}
			}
			.des-comment-sec {
				.header-comment-des {
					width: auto !important;
				}
				width: auto !important;
			}
		}
		.user-map-sec {
			.loc-map-sec {
				width: auto !important;
			}
		}
	}
	.footer {
		.footer-container {
			gap: 20px;
			flex-direction: column;
			.find-us-on {
				height: auto;
			}
		}
	}
}
